@model Library.Models.Entity.AUTHOR
@{
    ViewBag.Title = "AuthorAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<center>
    <h3 id="bslk">Yazar Ekle</h3>
</center>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.AUTHOR_NAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.AUTHOR_NAME, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.AUTHOR_SURNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(y=>y.AUTHOR_SURNAME,"",new { @style="color:red"})
    </div>
    <div style="margin-top:15px">
        <label>Detay</label>
        @Html.TextAreaFor(y=>y.DETAIL, new { @class="form-control"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" style="background-color: bisque">Ekle</button>
    </div>
</form>

