@using Library.Models.Entity;
@model List<AUTHOR> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .clr{
        background-color:bisque
    }   
</style>
<center>
    <h2 id="bslk">Yazarlar</h2>
 </center>
        <table class="table table-striped">
            <tr style="background-color: bisque">
                <th>Id</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Detay</th>
                <th>Sil</th>
                <th>Güncelle</th>
                <th>Yazarın Kitapları</th>
            </tr>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.AUTHOR_ID</td>
                    <td>@a.AUTHOR_NAME</td>
                    <td>@a.AUTHOR_SURNAME</td>
                    <td>@a.DETAIL</td>
                    <td>@Html.ActionLink("Sil", "AuthorDel", new { id = a.AUTHOR_ID }, new { @class = "btn brn-danger", onclick = "return confirm('Silmek İstiyormusunuz?')" })</td>
                    <td><a href="/Author/AuthorFind/@a.AUTHOR_ID" class="btn clr">Güncelle</a></td>
                    <td><a href="/Author/AuthorBook/@a.AUTHOR_ID" class="btn clr">Yazarın Kitapları</a></td>
                </tr>
            }
        </table>
        <a href="/Author/AuthorAdd/" class="btn clr">Yeni Yazar Ekle</a>
