@using Library.Models.Entity
@model List<ACTION> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem Id</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış tarihi</th>
        <th>İade Tarihi</th>
        <th>İade Al</th>      
    </tr>
    @foreach(var a in Model)
    {
      <tr>
          <td>@a.ACTION_ID</td>
          <td>@a.BOOK1.BOOK_NAME</td>
          <td>@a.MEMBER1.MEMBER_NAME @a.MEMBER1.MEMBER_SURNAME</td>
          <td>@a.PERSONEL.PERSONEL_NAME</td>
          <td>@Convert.ToDateTime(a.SHIP_DATE).ToString("dd/MM/yyyy")</td>
          <td>@Convert.ToDateTime(a.RETURN_DATE).ToString("dd/MM/yyyy")</td>
          <td><a href="/Action/lendFind/@a.ACTION_ID" class="btn btn-default" style="background-color:aqua">Kitabı Geri İade Et</a></td>
        
      </tr>
    }


</table>
  
